
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  border-left: 40px solid #F2F2F2;
  border-right: 40px solid #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 139px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 520px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.navigation-user {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 300px;
  height: 66px;
  margin: 0 auto;
  margin-right: 70px;
  list-style: none;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 20px 17px;
  text-decoration: none;
}

.navigation-user-item .navigation-link {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #7DB54F;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
}

.button-want {
  display: block;
  width: 130px;
  height: 20px;
  padding: 9px 15px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.sedona {
  background-image: url("../images/sedona-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
  margin: 0 auto;
  padding: 50px 371px 78px;
}

.welcome::after {
 content: url("../images/icons/welcome-bottom-border.svg"); /*пока не запускается, нужно доработать*/
}

.divider {
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;
  padding: 0 auto;
}

.divider-title {
  display: block;
  margin: 0 auto;
  padding-top: 63px;
  width: 620px;
}

.divider-description {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 90px;
}

.hat {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advantages-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  width: 230px;
  height: 179px;
  padding: 102px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 180px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
}

.area {
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item.with-photo {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:nth-child(4) {
  background-color:#FFFFFF;
}

.road {
  background-color:rgba(131, 179, 211, 0.2);
}

.search-hotel {
  display: block;
  margin: 0 auto;
  /* height: 417px; */
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}

.search-hotel.hat {
  padding-top: 91px;
  width: 297px;
}

.search-hotel p {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 592px;
}

.button-search {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 93px;
  font-size: 20px;
  line-height: 36px;
  width: 544px;
  padding: 12px 15px;
}

.subscribe-index {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  text-align: center;
  color: #FFFFFF;
  padding: 94px 0;
}

.subscribe-index h2 {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 30px;
}

.subscribe-index p {
  display: block;
  width: 600px;
  height: 52px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.field {
  width: 600px;
  height: 60px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.newletter-button {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 15px;
  border: none;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  height: 120px;
  padding: 0 70px;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  max-width: 150px;
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 24px;
  height: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #7DB54F;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.page-footer a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.newletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.inner-header-title {
  width: 495px;
  padding: 35px 0 0 70px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  /* width: 110px; */
  list-style: none;
}

.breadcrumbs-item {
  color: inherit;
  display: inline;
  margin-right: 32px;
}

.hotels-filter {
  display: flex;
  width: 1060px;
  justify-content: flex-start;
  margin: 0 70px;
}

.hotels-filter-group {
  width: 150px;
  padding: 0;
}

.control-input {
  margin: 0;
  padding: 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels {
  margin: 0;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-repeat: no-repeat;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels-filter-list {
  list-style: none;
}

.hotels-filter-list ul {
  margin: 0;
  padding: 0;
}

.control {
  font-weight: 400;
  color: #FFFFFF;
}

.price-setting {
  color: #FFFFFF;
  margin: 0 240px auto 175px;
  width: 290px;
}

.filter-buttons {
  ;
  width: 160px;
  margin: 0 auto;
}

.button-app {
  display: block;
  background-color: #82B3D3;
  padding: 9px 15px;
  margin-bottom: 20px;
  border: none;
}

.button-reset {
  color: #FFFFFF;
  text-transform: none;
  font-weight: 400;
  background-color:transparent;
  border: none;
}

.catalog {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 50px 72px;
}

.catalog h2 {
  margin: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

.select-control {
  width: 290px;
  margin-right: 80px;
}

.catalog .button {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background-color: #7DB54F;
}

.hotels-cards {
  display: flex;
  width: 1056px;
  flex-wrap: wrap;
  margin: auto 73px auto 71px;
  gap: 18px;
}

.hotel-card h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: none;
  color: black;
}

.hotel-card {
  font-weight: 400;
  font-size: 18px;
  width: 340px;
  line-height: 21px;
  color: #333333;
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.button-elect {
  background-color: #82B3D3;
}

.button-elect-in {
  background-color: #7DB54F;
}

.hotels-rating-result {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-pags {
  width: 1057px;
  display: flex;
  justify-content: space-between;
  margin: 30px 72px;
}

.pagination {
  display: flex;
  width: 400px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:first-child {
  background-color: #F2F2F2;
}

.pagination-link {
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  list-style: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.cards-number {
  display: flex;
  justify-content: space-between;
  width: 386px;
  padding: 0;
  align-items: center;
}

.select-cards {
  min-width: 160px;
  font-size: 18px;
  padding: 14px 20px;
}

.subscribe-inner {
  background-color: #FFFFFF;
  text-align: center;
  margin: 94px auto;
}

.subscribe-inner h2 {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.subscribe-inner p {
  display: block;
  width: 600px;
  height: 52px;
  margin: 0 auto;
  padding-bottom: 30px;
}

