
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

label[for='newletter-email'] {
  display: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 65px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 139px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  margin-bottom: -10px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  bottom: 1%;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  max-width: 520px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-right: 70px;
  list-style: none;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 17px;
  text-decoration: none;
}

.navigation-user-item {
  margin-top: 16px;
}

.navigation-user-item .navigation-link {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 10px;
}

.navigation-link:hover {
  background-color: #F2F2F2;
  border-radius: 4px;
}

.navigation-link:focus {
  background-color: #68A2CA;
}

.navigation-link:active {
  background-color: rgba(117, 97, 87, 0.3);
  border: none;
}

.navigation-link svg {
  display: block;
  padding: 10px;
  fill: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
}

.heart {
  position: relative;
  margin: 0;
  fill: #000000;
}

.heart::after {
  content: "12";
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-align:center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  position: absolute;
  right: -10%;
  top: -1%;
}

.button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  padding: 9px 15px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-want {
  width: 130px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 12px;
}

.main-container {
  flex-grow: 1;
}

.sedona {
  background-image: url("../images/sedona-background.jpg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  max-width: 1200px;
}

.welcome {
  margin: 0 auto;
  padding: 50px 371px 78px;
}

.divider {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 57px;
  margin-top: -57px;
  background-image: url("../images/icons/welcome-bottom-border.svg");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}

.divider-title {
  display: block;
  margin: 0 auto;
  padding-top: 63px;
}

.divider-description {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 90px;
}

.hat {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  width: 230px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  max-width: 180px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.advantages-photo {
  vertical-align: middle;
  align-self: center;
}

.advantages-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.area {
  display: block;
  background-color:rgba(131, 179, 211, 0.12);
  padding-top: 80px;
  padding-bottom: 80px;
}

.area h3, .road h3, .food h3 {
  margin-bottom: 30px;
}

.house h3, .food h3, .gift h3 {
  padding: 0;
  margin: 0;
  margin-left: 28px;
}

.advantages-order {
  display: block;
  margin: 30px auto;
}

.with-photo {
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 92px 85px;
}

.advantages-list li:nth-child(4) {
  background-color:#FFFFFF;
  padding-top: 84px;
}

.food {
  padding-bottom: 80px;
}

.food .advantages-description {
  margin-top: 30px;
}

.area .advantages-description {
  margin-top: 30px;
}

.fit {
  margin-top: 20px;
}

.road {
  display: block;
  background-color:rgba(131, 179, 211, 0.2);
  padding-top: 102px;
  padding-bottom: 102px;
}

.search-hotel {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #FFFFFF;
  text-align: center;
}

.search-hotel.hat {
  margin-top: 90px;
  width: 297px;
}

.search-hotel p {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.button-search {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 93px;
  font-size: 20px;
  line-height: 36px;
  width: 544px;
  padding: 12px 15px;
}

.subscribe-index {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  text-align: center;
  color: #FFFFFF;
  padding: 94px 0;
}

.subscribe-index h2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.subscribe-index p {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.newletter-form {
  display: grid;
  justify-content: center;
}

.field-email {
  grid-column: 1/5;
  font: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  min-width: 590px;
  margin: 0 auto;
  padding-left: 18px;
  background-color: #F2F2F2;
  border:#F2F2F2 solid 2px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline:none;
  box-sizing: border-box;
}

.field-email:hover {
  background-color:#E6E6E6;
}

.field-email:focus {
  background-color:#E6E6E6;
  outline: 3px solid #83B3D3;
}

.field-email:active {
  background-color:#FFFFFF;
  outline: 2px solid #000000;
}

.field-email::placeholder {
  color: #000000;
  font-weight: 400;
  opacity: 0.6;
  padding: 0;
}

.newletter-button {
  grid-column: 5/6;
  margin: 0 auto;
  margin-left: -4px;
  padding: 12px 36px;
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-left: #F2F2F2 solid 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 36px;
  background-color: #82B3D3;
}

.newletter-button:hover,
.newletter-button:focus {
  background-color: #68A2CA;
}

.newletter-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  max-width: 1060px;
  min-height: 120px;
  margin: 0 65px;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  max-width: 170px;
  margin: 0;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: center;
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.footer-social-item .social-item {
  padding: 0;
  margin-right: 26px;
  background-color: #FFFFFF;
}

.social-item:default .social-icon {
  fill: #83B3D3;
}

.social-item:hover .social-icon,
.social-item:focus .social-icon {
  fill: #68A2CA;
}

.social-item:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.phone:hover {
  color: #756157;
}

.phone {
  margin-right: 8px;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-icon {
  fill: #83B3D3;
}

.logo-footer svg {
  fill:#000000;
}

.navigation-link-academy {
  margin-right: -4px;
}

.navigation-link-academy:hover svg,
.navigation-link-academy:focus svg {
  fill:#756157;
}

.navigation-link-academy:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.page-footer a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-search {
  max-width: 715px;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  background-color:#F2F2F2;
  border: 3px solid #F2F2F2;
  box-sizing: border-box;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 13px;
  padding: 20px;
  border-radius: 50%;
  margin-top: 54px;
  margin-right: 70px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  border: 3px solid #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 30%;
}

.modal-content {
  margin-top: 6px;
}

.modal-search {
  box-sizing: border-box;
  padding: 56px 70px 60px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 63px;
}

.calend {
  position: absolute;
  left: 85%;
  opacity: 0.3;
}

.window {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.error {
  color: #FF5757;
}

.button-guests {
  background-color: #F2F2F2;
  font-family: inherit;
  padding: 16px;
  border: none;
  border-radius: 4px;
  align-content: center;
  cursor: pointer;
}

.guests-symbol {
  opacity: 30%;
  align-self: center;
}

.minus {
  padding: 12px 16px 16px;
}

.plus {
  padding: 20px 16px 16px;
}

.amount:hover,
.button-guests:hover svg {
  opacity: 100%;
}

.button-guests:focus {
  background-image: url("../images/icons/border.svg");
  background-size: 50% 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.amount:active,
.button-guests:active {
  color: rgba(0, 0, 0, 0.2);
}

.amount::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 16px;
  background-color: #F2F2F2;
  margin: 0;
  border: none;
}

.children-info {
  position: relative;
  border: none;
  margin: 0;
  display: block;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 10px;
  line-height: 16px;
  padding: 4px;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 14px;
  width: 24px;
  text-align: center;
  cursor: pointer;
}

.children-info::after {
  content: url("../images/icons/bit-tooltip.svg");
  position: absolute;
  bottom: -18px;
  right: 2px;
}

.children-info:hover {
  background-color: #68A2CA;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-top: 190px;
  margin-left: -60px;
  width: 256px;
  height: 143px;
  /* display: none; */
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 18px;
  display: block;
  width: 216px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.button-scan {
  background-color: #83B3D3;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 40px;
  padding: 12px 26px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.button-scan:hover {
  background-color: #68A2CA;
}

.button-scan:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button-scan:active {
  color: rgba(255, 255, 255, 0.3);
}

label[for='adults'],
label[for='children'],
label[for='search-departure'],
label[for='check-in'] {
  font-size: 20px;
  line-height: 26px;
  font-family: inherit;
  font-weight: 700;
  text-transform: capitalize;
}

label[for='adults'] {
  margin-right: 64px;
}

label[for='children'] {
  margin-right: 0;
}

.modal-date {
  font-family: inherit;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  position: inherit;
  margin-left: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.guests {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  justify-content: space-between;
}

.guests-children,
.guests-adults {
  display: flex;
  align-items: center;
  appearance: none;
}

.guests-children {
  margin-left: 56px;
}

.amount {
 margin: 0;
 font-family: inherit;
 font-size: 18px;
 line-height: 21px;
 border: none;
 outline: none;
 width: 44px;
 background-color: #F2F2F2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.comment-date {
  padding: 0;
  margin: 0;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.field-date {
  min-width: 70%;
  font: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  height: 50px;
  margin: 0;
  display: inline-block;
  padding: 0;
  padding-left: 19px;
  background-color: #F2F2F2;
  border: none;
  outline: none;
  border-radius: 4px;
}

.field-date:hover {
  background-color: #E6E6E6;
}

.field-date:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.field-date:active,
.field-date:visited {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.sorting-container .button {
  padding: 0;
}

.inner-header-title {
  width: 495px;
  padding: 35px 0 0 70px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1057px;
  align-items: center;
  justify-content: flex-start;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-link,
.breadcrumbs-sign,
.breadcrumbs-first {
  color: inherit;
  fill: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.breadcrumbs-item:hover .breadcrumbs-first {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus .breadcrumbs-first {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-item:active .breadcrumbs-first {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-filter {
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  justify-content: space-between;
  margin-left: 70px;
}

.hotels-filter-group {
  padding: 0;
  border-style: none;
  margin-left: 0;
  display: block;
}

.control-label {
  margin: 0;
  margin-left: 40px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/icons/tick.svg);
  background-size: 80% 80%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 4px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border:3px solid #FFFFFF;
  border-radius: 4px;
}

.control-mark:hover {
  opacity: 0.6;
  border-radius: 4px;
}

.control-mark:focus {
  opacity: 0.6;
  border-radius: 4px;
  border: 3px solid #83B3D3;
}

.control-mark:disabled {
  background-color:  rgba(255, 255, 255, 0.3);
}

.control-mark-type {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border:3px solid #FFFFFF;
  border-radius: 50%;
}

.control-input-type[type="radio"]:checked + .control-mark-type {
  background-image: url(../images/icons/radio-circle.svg);
  background-position-x: 46%;
  background-position-y: 40%;
  background-repeat: no-repeat;
}

.control-mark-type:hover {
  background-color:#FFFFFF;
}

.control-mark-type:focus,
.control-mark-type:focus-visible {
  border: 3px solid #83B3D3;
}

.control-mark-type:disabled {
  background-color:#FFFFFF;
}

.hotels {
  margin: 0;
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.hotels-filter-list {
  list-style: none;
  padding: 0;
  padding-bottom: 58px;
  margin-bottom: 0;
  grid-row-gap: 15px;
}

.hotels-filter-item {
  padding-bottom: 10px;
}

.goods {
  margin: 0;
}

.apart {
  margin-right: -54px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin: 0;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  background: #ffffff;
}

.toggle-min {
  top: -10px;
  left: -2px;
}

.toggle-max {
  top: -10px;
  right: -7px;
}

.price-filter-group {
  border: none;
  font: inherit;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-left: 160px;
  width: 288px;
}

.price-filter-title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  margin: 0;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: start;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px transparent;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: textfield;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
}

.range-comment {
  position: absolute;
  opacity: 0.3;
  margin-top: 12px;
  margin-left: 110px;
  font-family: inherit;
  font-size: 18px;
}

.range-input:hover {
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  opacity: 0.6;
}

.range-input:focus {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #81B3D2;
  border-radius: 4px;
  outline: 1px #81B3D2;
}

.range-input:focus:not(:placeholder-shown) {
  opacity: 1;
  background: #756257;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.max-price {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.min-price {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.control {
  font-weight: 400;
  color: #FFFFFF;
}

.filter-buttons {
  display: block;
  margin: 0;
  margin-top: 60px;
}

.button-app {
  box-sizing: border-box;
  background-color: #82B3D3;
  font-family: inherit;
  min-width: 160px;
  padding: 14px 15px;
  margin-bottom: 20px;
  border: none;
}

.button-app:hover,
.button-app:focus {
  background-color: #68A2CA;
}

.button-app:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  color: #FFFFFF;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  background-color:transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 30%;
}

.catalog {
  margin: 52px 72px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1057px;
}

.catalog h2 {
  margin: 0;
  align-self: center;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-control {
  width: 290px;
  margin-right: 70px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  outline:#E5E5E5 solid 2px;
  border-radius: 4px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  padding-left: 18px;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-view {
  padding: 10px 14px;
  margin: 0;
  margin-left: 12px;
  margin-bottom: 6px;
  background-color: #FFFFFF;
  outline:#E5E5E5 solid 2px;
  border-radius: 4px;
  text-decoration: none;
}


.button-view svg {
  padding: 0;
  margin: 0;
  outline: 0;
}

.button-view:hover {
  outline:#000000 solid 2px;
}

.button-view:focus {
  outline:#68A2CA solid 2px;
}

.button-view:active {
  outline:#000000 solid 2px;
}

.hotels-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(2, 438px);
  column-gap: 18px;
  margin: 0 72px 96px;
  padding: 0;
  min-width: 1200px;
}

.hotel-card h3 {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 12px;
  text-transform: none;
  color: #000000;
}

.hotel-card {
  font-weight: 400;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  list-style: none;
  padding: 20px;
}

.hotels-type,
.hotels-price {
  margin: 0;
  padding: 0;
}

.hotel-card-detail {
  display: grid;
  margin: 0;
  margin-top: 16px;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
}

.hotels-rating-result {
  padding: 8px 22px;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.button-elect,
.button-detail,
.button-elect-in {
  margin: 0;
  justify-self: center;
}

.button-detail {
  padding: 9px 25px;
}

.button-elect {
  background-color: #82B3D3;
  padding: 9px 20px;
}

.button-elect:hover,
.button-elect:focus {
  background-color: #68A2CA;
}

.button-elect:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-elect-in {
  background-color: #7DB54F;
}

.button-elect-in:hover,
.button-elect:focus {
  background-color: #6C9E42;
}

.button-elect-in:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  align-self: center;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  color: #FFFFFF;
  width: 86px;
}

.stars-3 {
  align-self: center;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  color: #FFFFFF;
  width: 56px;
}

.stars-2 {
  align-self: center;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  color: #FFFFFF;
  width: 40px;
}

.hotels-rating-result {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-pags::before {
  position:absolute;
  bottom: 0;
  top: -50%;
  height: 1px;
  max-width: 1057px;
  background-color: #E6E6E6;
  content: "";
}

.pagination-pags {
  max-width: 1057px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 72px;
  position: relative;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #82B3D3;
  margin-top: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:first-child {
  background-color: #F2F2F2;
}

.pagination-item:last-child {
  padding: 12px 19px;
}

.pagination-item:nth-child(5) {
  padding: 12px 22px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  list-style: none;
}

.pagination-item:not(:first-child):hover,
.pagination-item:not(:first-child):focus {
  background-color: #68A2CA;
}

.pagination-item:not(:first-child):active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.cards-number {
  display: flex;
  justify-content: space-between;
  width: 386px;
  padding: 0;
  align-items: center;
}

.select-cards {
  min-width: 160px;
  font-size: 18px;
  padding: 14px 18px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border:#E5E5E5 solid 2px;
  border-radius: 4px;
  margin: 0;
}

.select-cards:hover {
  outline: 2px solid #68A2CA;
}

.select-cards:focus {
  outline: 2px solid #68A2CA;
}

.select-cards:active {
  outline: 2px solid #3F5E72;
}

.select-cards:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

label[for='select-cards'] {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  margin-right: 48px;
}

.subscribe-inner {
  display: block;
  max-width: 1200px;
  background-color: #FFFFFF;
  text-align: center;
  margin: 94px auto 100px;
}

.subscribe-inner h2 {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.subscribe-inner p {
  display: block;
  max-width: 600px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 46px;
}
